body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

/* #visualization {
    margin: 20px auto;
    width: 80%;
    height: 600px;
    border: 1px solid #ccc;
} */

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

.mesh {
    fill: none;
    stroke: #000000;
    stroke-width: 0.5px;
}